---
import { contentfulClient } from "../../lib/contentful";
import type { Catalogue } from "../../lib/contentful";
import slug from "slug";
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/posts.astro";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<Catalogue>({
    content_type: "colorins",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: slug(item.fields.title) },
    props: {
      title: item.fields.title,
      category: item.fields.category,
      price: item.fields.price,
      color: item.fields.color,
      image: item.fields.imagenes,
      talla: item.fields.tallas,
      slug: slug(item.fields.title),
    },
  }));
  return pages;
}

const { title, price, talla, color, category, image, slug } = Astro.props;
---

<style>
  .marron {
    accent-color: rgb(154 52 18);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }

  .naranja {
    accent-color: rgb(249 115 22);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }

  .azul {
    accent-color: rgb(186 230 253);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .negro {
    accent-color: rgb(0 0 0);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .blanco {
    accent-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .verde {
    accent-color: rgb(52 211 153);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .amarillo {
    accent-color: rgb(250 204 21);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .marino {
    accent-color: rgb(8 47 73);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .beige {
    accent-color: rgb(255 237 213);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .rojo {
    accent-color: rgb(239 68 68);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .gris {
    accent-color: rgb(209 213 219);
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
</style>
<Layout>
  <section class="max-w-screen-xl mx-auto my-10">
    <div class="flex flex-col md:flex md:flex-row">
      <div class="basis-1/2">
        {
          image && image.length > 0 && image[0].fields && (
            <img
              class="rounded mx-auto"
              src={image[0].fields.file.url}
              alt=""
            />
          )
        }
      </div>
      <div class="basis-1/2 px-4 md:px-10 pt-10">
        <h1 class="text-4xl font-normal">{title}</h1>
        <h3 class="capitalize">{category}</h3>
        <div class="price flex font-semibold mt-5">
          <p>$</p>
          <p>{price}</p>
          <p>mxn</p>
        </div>
        <form id="miFormulario" action="">
          <div>
            <input
              type="radio"
              class={color}
              aria-label={color}
              value={color}
              id="color"
              checked
            />
          </div>
          <div class="mt-5">
            <select
              value={talla}
              name="tallas"
              id="tallas"
              class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-y-2 border-gray-200 dark:text-gray-400 focus:outline-none focus:ring-0 focus:border-gray-200 peer lg:w-5/6"
            >
              {
                talla &&
                  talla.length > 0 &&
                  talla.map((opcion) => (
                    <option value={opcion} class="bg-white">
                      {opcion}
                    </option>
                  ))
              }
            </select>
          </div>
          <button
            class="px-4 py-4 mt-4 bg-gray-100 text-gray-500 rounded hover:ring-1 hover:ring-gray-200 transition-all delay-100 w-full md:w-1/2"
            type="button"
            id="btnForm">Comprar ahora por WhatsApp</button
          >
        </form>
        <script>
          window.addEventListener("load", function () {
            const btnForm = document.getElementById("btnForm");
            function enviarWhatsapp() {
              // Seleccionamos el formulario por su ID
              const formulario = document.querySelector("#miFormulario");

              // Validamos que el elemento seleccionado sea un formulario
              if (!formulario || !(formulario instanceof HTMLFormElement)) {
                console.error(
                  "El elemento seleccionado no es un formulario válido.",
                );
                return;
              }

              // Obtenemos los datos del formulario
              const formData = new FormData(formulario);
              const colorElement = document.getElementById(
                "color",
              ) as HTMLInputElement;
              const colorValue = colorElement.value;
              const tallaElement = document.getElementById(
                "tallas",
              ) as HTMLSelectElement;
              const tallaValue = tallaElement.value;
              const mensaje = `Me interesa esta prenda en color ${colorValue} y en talla ${tallaValue}`;
              const urlActual = window.location.href;
              const numeroWhatsapp = "+525572188346"; // Reemplaza 'tu_numero_de_whatsapp' con tu número de WhatsApp

              // Construimos el enlace de WhatsApp con el mensaje y el enlace de la página actual
              const enlaceWhatsapp =
                "https://wa.me/" +
                numeroWhatsapp +
                "?text=" +
                encodeURIComponent(mensaje + "\n" + urlActual);

              // Redirigimos a WhatsApp
              window.location.href = enlaceWhatsapp;
            }
            btnForm.addEventListener("click", enviarWhatsapp);
          });
        </script>
      </div>
    </div>
  </section>
  <Posts />
</Layout>
