---
import Layout from '../layouts/Layout.astro';
import { contentfulClient } from "../lib/contentful";
import type { Catalogue } from "../lib/contentful";
import slug from 'slug';



const entries = await contentfulClient.getEntries<Catalogue>({
  content_type: "colorins",
  'fields.category': 'junior niña',
});


const posts = entries.items.map((item) => {
  const { category, title, color, tallas, price, id, imagenes, } = item.fields;
  return {
    category,
    title,
    color,
	tallas,
	price,
	id,
	imagenes,
	slug: slug(title) ,
  };
});
---

<Layout title="home" description="La mejor ropa para tu pequeño esta en colorins">
	<main class="flex justify-center items-center h-[80vh]">
		<ul class="flex">
			{posts.map((post) => (
			  <li>
				<a href={`/posts/${post.slug}/`}>
					<img class="w-20 h-50" src={post.imagenes[0].fields.file.url} alt={post.title} />
					<h2>{post.category}</h2>
					<h2>{post.title}</h2>
				</a>
				<p>{post.price}</p>
			  </li>
			))}
		  </ul>
	</main>
</Layout>