---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import type { Catalogue } from "../../lib/contentful";
import slug from "slug";

const entries = await contentfulClient.getEntries<Catalogue>({
    content_type: "colorins",
    "fields.category": "baby ni침o",
    "fields.tipoDePrenda": "bodies y playeras",
});

const posts = entries.items.map((item) => {
    const {
        category,
        title,
        color,
        tallas,
        price,
        id,
        imagenes,
        tipoDePrenda,
    } = item.fields;
    return {
        category,
        title,
        color,
        tallas,
        price,
        id,
        imagenes,
        tipoDePrenda,
        slug: slug(`${item.fields.category}-${item.fields.title}`),
    };
});

const categoria = posts
    .map(
        (post) =>
            Array.isArray(post.category) // Verificar si es un arreglo
                ? post.category
                      .map((cat) =>
                          cat
                              .replace(/\s+/g, "-")
                              .normalize("NFD")
                              .replace(/[\u0300-\u036f]/g, "")
                              .toLowerCase(),
                      )
                      .join("-")
                : "", // Si no es un arreglo, devolver una cadena vac칤a
    )
    .join("-");

const tipoDePrendas = posts
    .map(
        (post) =>
            Array.isArray(post.tipoDePrenda) // Verificar si es un arreglo
                ? post.tipoDePrenda
                      .map((prenda) =>
                          prenda
                              .replace(/\s+/g, "-")
                              .normalize("NFD")
                              .replace(/[\u0300-\u036f]/g, "")
                              .toLowerCase(),
                      )
                      .join("-")
                : "", // Si no es un arreglo, devolver una cadena vac칤a
    )
    .join("-");
---

<style define:vars="">
    #filters {
        width: calc(178px * 12);
    }
</style>

<Layout>
    <main
        class="portada max-w-screen-2xl mx-auto flex justify-center items-center"
    >
        {
            posts.map((post) => (
                <div class="flex flex-col justify-center items-center">
                    <div>
                        <div class="mx-auto mb-2 mt-10">
                            <ul class="flex space-x-2 justify-center text-sm mb-2 text-gray-400">
                                <li>
                                    <a class="hover:text-gray-500" href="/">
                                        Inicio
                                    </a>
                                </li>
                                <li>/</li>
                                <li>
                                    <a
                                        class="hover:text-gray-500"
                                        href={`/${categoria}`}
                                    >
                                        {categoria}
                                    </a>
                                </li>
                                <li>/</li>
                                <li>
                                    <a
                                        class="hover:text-gray-500"
                                        href={`/${categoria}/${tipoDePrendas}`}
                                    >
                                        {tipoDePrendas}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h2 class="text-4xl font-medium lg:text-4xl  text-center mt-4 lg:mt-0 capitalize pb-6">
                            {post.tipoDePrenda}
                        </h2>
                    </div>
                </div>
            ))
        }
    </main>
    <section>
        <div class="max-w-screen-2xl mx-auto">
            <div class="overflow-x-scroll snap-x snap-mandatory py-4">
                <ul class="flex space-x-4 mx-2" id="filters">
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/abrigos-y-chamarras">
                            <p>Abrigos y chamarras</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/accesorios-y-complementos">
                            <p>Accesorios y complementos</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/bodies-y-playeras">
                            <p>Bodies y playeras</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/camisas-y-blusas">
                            <p>Camisas y blusas</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/conjuntos">
                            <p>Conjuntos</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/pantalones-y-petos">
                            <p>Pantalones y petos</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/pants">
                            <p>Pants</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/polos">
                            <p>Polos</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/sueteres-y-sudaderas">
                            <p>Su칠teres y sudaderas</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-gray-300 px-6 py-2 hover:border-gray-500 hover:text-gray-500 text-gray-400"
                    >
                        <a href="/baby-nino/trajes-de-bano">
                            <p>Trajes de ba침o</p>
                        </a>
                    </li>
                    <li
                        class="border rounded-full border-orange-400 text-orange-400 px-6 py-2 hover:border-orange-600 hover:text-orange-600"
                    >
                        <a href="/baby-nino/promociones">
                            <p>游댠 Promociones</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="max-w-screen-2xl mx-auto">
        <div class="mx-auto">
            <ul
                id="lista"
                class="flex flex-wrap justify-start mx-0"
                style="overflow-x: hidden;"
            >
                {
                    posts.map((post) => (
                        <li class="my-3 snap-center w-1/2 md:w-1/3 lg:w-1/6 px-2">
                            <a href={`/posts/${post.slug}/`}>
                                <img
                                    class="rounded-md max-w-full"
                                    src={post.imagenes[0].fields.file.url}
                                    alt={post.title}
                                />
                                <div class="my-2 max-w-full">
                                    <h2 class="font-normal">{post.title}</h2>
                                    <div class="text-gray-500">
                                        <div class="flex space-x-1">
                                            <p>$</p>
                                            <p class="">{post.price}</p>
                                            <p>mxn</p>
                                            <p>&rarr;</p>
                                        </div>
                                        <p class="capitalize text-xs">
                                            {post.category}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="flex justify-center pb-20">
            <button
                id="boton"
                class="px-12 bg-yellow-400 py-2 rounded-full text-white hover:bg-yellow-300 transition-all delay-100"
                >Ver m치s</button
            >
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const lista = document.getElementById(
                    "lista",
                ) as HTMLElement | null;
                const boton = document.getElementById(
                    "boton",
                ) as HTMLButtonElement | null;

                let visibleCount = 10; // Inicialmente mostrar 10 elementos

                // Funci칩n para cargar m치s elementos

                const handleLoadMore = () => {
                    // Agregar 10 elementos m치s al contador
                    visibleCount += 10;
                    // Renderizar los elementos actualizados
                    render();
                };

                // Funci칩n para renderizar los elementos
                const render = () => {
                    // Verificar si lista y boton son nulos antes de acceder a sus propiedades
                    if (lista && boton) {
                        // Mostrar solo los primeros 'visibleCount' elementos
                        const lis = lista.querySelectorAll("li");
                        lis.forEach((li, index) => {
                            if (index < visibleCount) {
                                li.style.display = "block";
                            } else {
                                li.style.display = "none";
                            }
                        });

                        if (visibleCount >= lis.length) {
                            boton.style.display = "none";
                        } else {
                            boton.style.display = "block";
                        }
                    }
                    // Mostrar bot칩n "Ver m치s" solo si hay m치s elementos para cargar
                };

                // Agregar evento de clic al bot칩n
                if (boton) {
                    boton.addEventListener("click", handleLoadMore);
                }

                // Llamar a la funci칩n render inicialmente
                render();
            });
        </script>
    </div>
</Layout>
